body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0,17,171);
    font-family: Arial, sans-serif;
    direction: rtl; /* Right-to-left for Hebrew */
}

#game-container {
    text-align: center;
    background-color: #f9f9f9;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
	font-size: 76px;
}

#word-ppair {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

#start-word{
	font-size: 76px;
	margin-left: 20px;
}
#or {
	font-size: 36px;
}

.word {
    border: none;
    color: black;
    padding: 2px 2px;
	margin: 20px;
    font-size: 76px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.1s ease;
	background-color: #f0f0f0;
}

.word:hover {
    background-color: #a0a0ff;
}

